<div class="app">

    <div class="nav" [ngClass]="{'dark-mode': darkMode}">
        <app-ng-perfect-nav [links]="links" [squircle]="false" [hoverReveal]="hoverReveal" [showCategories]="showCategories" [iconMode]="iconMode"
            [iconPosition]="iconPosition" [hideIcons]="hideIcons" [border]="border">
            <ng-container ngProjectAs="logo">
                NGX Perfect Nav
            </ng-container>
        </app-ng-perfect-nav>
    </div>
    <div class="main">

        <h1>NGX Perfect Nav</h1>
        <button (click)="iconMode = !iconMode">Collapsed</button>
        <button (click)="showCategories = !showCategories">Toggle Categories</button>

        <!-- <button (click)="iconPosition = 'icon-left'">left icons</button> -->
        <!-- <button (click)="iconPosition = 'icon-right'">right icons</button> -->

        <!-- <button (click)="border = 'border-left'">border left</button> -->
        <!-- <button (click)="border = 'border-right'">border right</button> -->
        <!-- <button (click)="border = ''">border none</button> -->
        <button (click)="darkMode = !darkMode">Dark Mode</button>

    </div>

</div>