<div class="app">

    <div class="nav">
        <app-ng-perfect-nav [links]="links" [squircle]="false" [hoverReveal]="hoverReveal" [iconMode]="iconMode"
            [iconPosition]="iconPosition" [hideIcons]="hideIcons" [border]="border">
            <ng-container ngProjectAs="logo">
                NGX Perfect Nav
            </ng-container>
        </app-ng-perfect-nav>
    </div>
    <div class="main">


        <button (click)="iconMode = true">Icons</button>
        <button (click)="iconMode = false">Full</button>

        <button (click)="iconPosition = 'icon-left'">left icons</button>
        <button (click)="iconPosition = 'icon-right'">right icons</button>

        <button (click)="border = 'border-left'">border left</button>
        <button (click)="border = 'border-right'">border right</button>
        <button (click)="border = ''">border none</button>
    </div>

</div>