<app-ng-perfect-nav [links]="links" [squircle]="true" [hoverReveal]="hoverReveal" [iconMode]="iconMode"
    [iconPosition]="iconPosition" [hideIcons]="hideIcons" [border]="border">
</app-ng-perfect-nav>

<button (click)="iconMode = true">Icons</button>
<button (click)="iconMode = false">Full</button>

<button (click)="iconPosition = 'icon-left'">left icons</button>
<button (click)="iconPosition = 'icon-right'">right icons</button>

<button (click)="border = 'border-left'">border left</button>
<button (click)="border = 'border-right'">border right</button>
<button (click)="border = ''">border none</button>