.app {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	height: 100vh;


	.main {
		background-image: url('/assets/franck-v-Myc2uIkj8GA-unsplash.jpg');
		background-size: cover;
	}
}