<!-- <div class="perfect-nav-container" class="{{iconPosition}} {{border}}"
    [ngClass]="{'icon-mode': iconMode, 'hover-reveal': hoverReveal }"> -->
<!-- <div *ngFor="let l of links" class="link" [ngStyle]="{'max-height.px': l.height}">
        <div class="link-content">
            <div class="icon">{{l.icon}}</div>
            <div class="label" *ngIf="!l.disabled"><a [attr.href]="l.link">{{l.label}}</a></div>
            <div class="label" *ngIf="l.disabled"><span>{{l.label}}</span></div>
            <div class="children-dropdown" *ngIf="l.children && l.children.length" (click)="toggleChildren(l)">
                <span>^</span></div>
        </div>

        <div *ngFor="let c of l.children" class="link">
            <div class="link-content">
                <div class="icon">{{c.icon}}</div>
                <div class="label" *ngIf="!c.disabled"><a [attr.href]="c.link">{{c.label}}</a></div>
                <div class="label" *ngIf="c.disabled"><span>{{c.label}}</span></div>
            </div>
        </div>
    </div> -->
<!-- </div> -->


<div class="perfect-nav-container" class="{{iconPosition}} {{border}}"
    [ngClass]="{'icon-mode': iconMode, 'hover-reveal': hoverReveal }">


    <ng-template [ngTemplateOutlet]="linksTemplate" [ngTemplateOutletContext]="{links: links}">
    </ng-template>

</div>


<ng-template #linksTemplate let-links="links">
    <ng-container *ngFor="let l of links">

        <div class="link" *ngIf="l.visible" [ngClass]="{'show-children': l.showChildren}">
            <ng-template [ngTemplateOutlet]="linkTemplate" [ngTemplateOutletContext]="{link: l}">
            </ng-template>
        </div>
    </ng-container>
</ng-template>


<ng-template #linkTemplate let-link="link">
    <div class="link-content">
        <div class="icon" *ngIf="link.icon" [ngClass]="{'squircle': squircle}">{{link.icon}}</div>
        <div class="icon" *ngIf="link.iconImg" [ngClass]="{'squircle': squircle}"><img src="{{link.iconImg}}" /></div>

        <div class="label" *ngIf="!link.disabled"><a [attr.href]="link.link">{{link.label}}</a></div>
        <div class="label" *ngIf="link.disabled"><span>{{link.label}}</span></div>
        <div class="spacer"></div>

        <div class="children-dropdown" *ngIf="link.children && link.children.length" (click)="toggleChildren(link)">
            <span></span>
        </div>
    </div>
    <ng-container *ngIf="link.children">
        <div class="child-links">
            <ng-template [ngTemplateOutlet]="linksTemplate" [ngTemplateOutletContext]="{links: link.children}">
            </ng-template>
        </div>
    </ng-container>
</ng-template>


<!-- <div class="perfect-nav-container" class="{{iconPosition}} {{border}}"
    [ngClass]="{'icon-mode': iconMode, 'hover-reveal': hoverReveal }">
    <div *ngFor="let l of links" class="link" [ngStyle]="{'max-height.px': l.height}">
        <div class="link-content">
            <div class="icon">{{l.icon}}</div>
            <div class="label" *ngIf="!l.disabled"><a [attr.href]="l.link">{{l.label}}</a></div>
            <div class="label" *ngIf="l.disabled"><span>{{l.label}}</span></div>
            <div class="children-dropdown" *ngIf="l.children && l.children.length" (click)="toggleChildren(l)">
                <span>^</span></div>
        </div>

        <div *ngFor="let c of l.children" class="link">
            <div class="link-content">
                <div class="icon">{{c.icon}}</div>
                <div class="label" *ngIf="!c.disabled"><a [attr.href]="c.link">{{c.label}}</a></div>
                <div class="label" *ngIf="c.disabled"><span>{{c.label}}</span></div>
            </div>
        </div>
    </div>
</div> -->